* {
    border: none;
    border-radius: 0;
    margin: 0px;
    padding: 0px;
    font-family: "JetBrains Mono Nerd Font Propo", sans-serif;
    font-size: 12px;
    min-height: 0;
    box-shadow: none;
    text-shadow: none;
}

window#waybar {
    background: rgba(0,0,0,0);
    color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.5);
  border: 1px solid rgba(100, 114, 125, 0.5);
}
tooltip label {
  color: white;
}

.module {
    margin: 0px 8px; 
}

.modules-center{
    background: #222;
    border-radius: 999px;
    margin: 4px 0 0 0;
    padding: 0px 4px; 
}


#workspaces {
    padding: 0px 8px; 
}

#workspaces button {
    border-radius: 999px;
    color: white;
    margin: 4px;
    transition: all 0.1s ease-in-out;
}

#workspaces button:hover{
    background: transparent;
}

#workspaces button.active {
    background: #4F73BD;
    color: #4F73BD;
    min-width: 30px;
    margin: 6px 4px;
}


#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

.clock {
    padding: 4px 8px;

}

#battery {
}

#battery.charging {
    color: #26A65B;
}

@keyframes blink {
    to {
        color: white;
    }
}

#battery.warning:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 1.0s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 1.0s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-power {
    color: salmon;
    transition: all 0.3s ease-in-out;
    margin: 0 8px;
}
#custom-power:hover{
    color: #FF5454;
}

#custom-nixos {
    color: #77B6E1;
    min-width: 20px;
}
