$fg-color: #{"@theme_fg_color"};
$bg-color: #444444;

*{
  margin: 0px;
  padding: 0px;
  border: none;
  line-height: 0px;
  font-size: 1em;
  min-height: 0px;
  min-width: 0px;
}

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;
  font-family: "JetBrains Propo";
  font-size: 1em;
  padding-top: 4px;
}

.bar-widget {
  background: $bg-color;
  color: #ffffff;
  border-radius: 9999px;
  padding: 2px 8px;
  border: none;
}

.Left > * {
  margin-left: 8px;
}

.Right > * {
  margin-right: 8px;
}

.icon{
  margin-right: 8px;
}

.workspace-indicator {
  background: white;
  //font-size: 0em;
  margin: 2px;
  min-width: 8px;
  min-height: 8px;
  border-radius: 9999px;
}

.workspace-active {
  background: #4F72BB;
  //font-size: 0em;
  margin: 2px;
  min-width: 24px;
  min-height: 8px;
  border-radius: 9999px;
}

#nixos-button{
  padding-right: 6px;
}

#power-button{
  color: salmon;
  padding-right: 2px;
}
