$fg-color: #{"@theme_fg_color"};
$bg-color: #444444;

window.Bar {
  background: transparent;
  color: $fg-color;
  font-weight: bold;
  font-family: "JetBrains Mono";
  font-size: 1em;
  padding-top: 4px;
}

.bar-widget {
  background: $bg-color;
  color: #ffffff;
  border-radius: 9999px;
  padding: 2px 8px;
  border: none;
}

.Left > * {
  margin-left: 8px;
}

.Right > * {
  margin-right: 8px;
}

.icon{
  margin-right: 8px;
}

.workspace-button {
  background: lime;
  margin: 4px;
  border-radius: 9999px;
  min-width: 30px;
}

#power-button{
  color: salmon;
}
